body {
  font-family: sans-serif;
}

.wiki-img {
  width: 100%;
}

.wiki-header {
  text-align: center;
}

.wiki-item {
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

.wiki-content {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}
